html, body {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
}

/*
colores 
rgb(0, 80, 130)

fuentes
font-family: 'Roboto', sans-serif;
font-family: 'Bree Serif', serif;

*/
/*----inicio de estilos de header-----*/
.container-header {
  display: flex;
  justify-content: space-between;
  background: white;
}

.logo {
  width: 200px;
  margin: 20px;
  padding: 5px 5px 5px 5px;
}

header .navbar .navbar-nav .nav-item .nav-link,
header .navbar .navbar-brand {
  font-weight: 600;
}

.portada {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0.88;
  background-color: #545456;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

h1 {
  font-family: "Bree Serif", serif;
  letter-spacing: 1.5px;
  font-size: 60px;
  font-weight: bold;
  line-height: 100%;
  position: absolute;
  color: rgb(0, 80, 130);
  text-align: center;
  padding: 20px;
}

h6 {
  font-family: "Bree Serif", serif;
  letter-spacing: 1.5px;
  font-size: 100px;
  font-weight: bold;
  line-height: 100%;
  position: absolute;
  color: rgb(0, 80, 130);
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 30px;
  }
  h6 {
    font-size: 30px;
  }
}
/*------estilos section index----------*/
h2 {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 30px;
  letter-spacing: 1.5px;
  line-height: 100%;
  color: rgb(0, 80, 130);
  text-align: center;
  padding: 20px;
}

.info-inicio {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: justify;
  padding: 0 50px 30px 50px;
}

.texto-pages {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: justify;
  margin: 30px;
}

.box-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.box-wrap div {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .box-wrap {
    width: 100%;
    display: block;
    justify-content: center;
  }
  .box-wrap img {
    padding: 10px;
  }
}
.section {
  background-color: blue;
  width: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
}

/*-----estilos institucional-------*/
h3 {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 30px;
  letter-spacing: 1.5px;
  line-height: 100%;
  color: rgb(0, 80, 130);
  text-align: left;
  padding: 20px;
}

/*-----cards------*/
.card-carrera {
  width: 450px;
  box-shadow: 0 0 20px gray;
  margin: 30px;
  padding: 30px;
}
.card-carrera div img {
  width: 100%;
}

.card-carrera .contenido-carrera {
  padding: 10px 20px 20px;
}
.card-carrera .contenido-carrera div p {
  text-decoration: line-through;
}
.card-carrera .contenido-carrera div h4 {
  font-size: 20px;
  color: rgb(217, 16, 16);
  margin-bottom: 10px;
}

.boton {
  padding: 10px 20px;
  border: 1px solid black;
  background-color: black;
  border-radius: 5px;
  color: white;
}

.boton:hover {
  background-color: rgb(0, 80, 130);
}

h5 {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 30px;
  letter-spacing: 1.5px;
  line-height: 100%;
  color: black;
  text-align: left;
}

@media screen and (max-width: 576px) {
  .card-carrera {
    width: 90%;
  }
}
/*-----estilos footer-----*/
.footer {
  text-align: left;
  background-color: #000000;
}
.footer img {
  width: 30px;
  height: auto;
}
.footer ul li {
  display: inline-block;
  color: white;
  font-size: 13px;
  font-weight: normal;
  margin-left: 20px;
  padding: 10px 5px 10px 0;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 576px) {
  .footer {
    text-align: center;
    align-items: center;
  }
}
/*-----estilos contacto-------*/
.mapa {
  margin: 30px;
}
@media screen and (max-width: 576px) {
  .mapa .mapa {
    width: 300px;
    margin: 30px;
  }
}

.contacto {
  margin: 50px;
}

.texto-pages2 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: justify;
  margin: 30px;
}

/*-----formulario de contacto------*/
.formulario {
  width: 350px;
  margin: 30px;
}
@media screen and (max-width: 576px) {
  .formulario .formulario {
    width: 200px;
    margin: 30px;
  }
}

/*------error 404-------*/
.error {
  display: flex;
  justify-content: center;
  margin: 100px;
}

.errortexto {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  margin: 100px;
}

.btn-error {
  padding: 30px 30px 30px 0;
  display: block;
}

/*# sourceMappingURL=style.css.map */
